![banner](../static/banner.png)

---

# Part 2 - Learning the ropes of coding in R  üë©‚Äçüíª

If you've never coded before, haven't had much practice or are new to R in particular, don't fret! Below, we introduce all the bits and pieces you need in order to understand our neural network code. Read and run the cells below to see how R works.

## Arithmetic üî¢
We can use R like a calculator to perform simple arithmetic.

In [1]:
3 + 4

[1] 7

In [2]:
4 - 7

[1] -3

In [3]:
2.6 * 8.2

[1] 21.32

In [4]:
2 + 2 == 5

[1] FALSE

**Note:** Lines of code with a `#` out the front are called **comments**. Comments are ignored by the computer when it runs code, and are used to help explain things about the code to other humans.

In [14]:
# The line below will not result in a 4 being printed, as it's not code, it's a comment. 
# 2 + 2

# But 5 will be printed!
2 + 3

[1] 5

### <font color='#F89536'> **Your turn!** </font>

1. Calculate four divided by five, times six plus seven below

In [17]:
# Write code here!

2. What does the code below calculate?

In [ ]:
2 ** 5

3. Comment out the code line below.

In [ ]:
matrix(runif(1000), nrow = 200)

## Variables üç±
Variables store data, so that it can be referenced again later on. For example, say we wanted to create a variable called `lucky_number` and we wanted to store in this variable the value `8`.

In [8]:
lucky_number = 8

We might not use that value now, but it is stored so we can use it later. Let's try printing it now:

In [9]:
lucky_number

[1] 8

Variables can be used in place of wherever you would normally use their contents. For example, if we have a variable that holds ad number, we can use it in arithmetic.

In [11]:
unlucky_number = 4 

lucky_number + unlucky_number

[1] 12

### <font color='#F89536'> **Your turn!** </font>

1. Store your the month and the day you were born in two separate variables.

In [21]:
# Write your code here

2. Above we set `lucky_number = 8`. What happens if we try to set it equal to something different?

In [21]:
# Write your code here

3. What happens if you try to print `pi` or `letters`?

In [31]:
# Write your code here

## Data types üî£
When programming we use more than just numbers! The number `8` and the word `lucky` can both be considered data, but they're quite different in form and how they can be used. While we know how to halve `8`, what would it mean to halve the word `lucky`? Programming langauges often categorise data based on their structure and uses into what are called **data types**. 

Some of the more common data types include:

- Integers, like `8`
- Decimal numbers, like `2.421`
- Strings (an ordered arrangement of characters), like `I <3 memes!`
- Vectors (collections of objects of the same type), like `(1, 2, 3)`
- Boolean values, either `True` or `False`

There are many more types, and they are all often given slightly different names by different languages. 

In practice, strings in R are written enclosed in `"quotation marks"`, vectors written like inside a pair of parentheses with a c at the front, `c()`, and booleans as `TRUE` and `FALSE`.

In [1]:
DPA_overdue = TRUE # Boolean (or logical)
why = "does skype refuse to share my screen" # String
rest_and_stretch_breaks = 6.3 # Decimal (or numeric)
free_tea_bags = 0 # Integer
numbers = c(1,1,2,3,5,8,13,21,34,55) # Vector

It's often useful to have a vector of ascending whole numbers. To do this, we can use the `:` for shorthand.

In [5]:
5:9

[1] 5 6 7 8 9

We can access the **elements** (entries) in a vector by using the position it is in:

In [35]:
numbers[1]
numbers[3]
numbers[1:4]

[1] 1

[1] 2

[1] 1 1 2 3

### <font color='#F89536'> **Your turn!** </font>

1. What happens when you place two strings (separated by a comma) inside `paste()`?

In [21]:
# Write your code here

2. Create a vector containing all numbers from 20 to 25, and store it as a variable.

In [33]:
# Write your code here

3. What happens if you try to add a number (e.g. 5) to the vector you stored above?

In [36]:
# Write your code here

Two data types that we'll use a lot to create our neural network are **lists** and **matrices**.

### Lists
Lists are similar to vectors, in that they can be used to bundle a bunch of pieces of data together into one object. They're a bit more fancy, but we won't stress the details for now. To create a list, we type `list(name_1 = data_1, name_2 = data_2, ..., name_n = data_n)`, where the names are what you want to call the data you are storing, and `n` can be any positive whole number. For example, we could use a list to store some information about Aka the tortoise.

In [18]:
animal_1 = list(
    name = "Aka", 
    age = 71, 
    species = "Tortoise", 
    icon = "üê¢", 
    health_conditions = FALSE, 
    dimensions = list(length = 80, width = 50, height = 40)
)
animal_1

$name
[1] "Aka"

$age
[1] 71

$species
[1] "Tortoise"

$icon
[1] "üê¢"

$health_conditions
[1] FALSE

$dimensions
$dimensions$length
[1] 80

$dimensions$width
[1] 50

$dimensions$height
[1] 40

We can then use the names we gave to the data to easily access what we want, using the `$` symbol.

In [23]:
animal_1$icon

[1] "üê¢"

[1] "üê¢"

We can even put lists inside lists, and get the data we want using the same idea.

In [14]:
animal_1$dimensions
animal_1$dimensions$length

$length
[1] 80

$width
[1] 50

$height
[1] 40

[1] 80

Note that like vectors, we can also use the position of the data in the list to access it. This *cannot* be done using the `$` sign, we must use the double square brackets instead.

In [26]:
animal_1[[1]]

[1] "Aka"

### <font color='#F89536'> **Your turn!** </font>

1. Create a list containing some information about a different animal.

In [21]:
# Write your code here

2. Practice accessing the elements in the list you created above, using both the `$` operator and the square brackets.

In [33]:
# Write your code here

### Matrices

Matrices is the plural of matrix. If you not familiar with matrices, perhaps the word matrix brings something like this to mind:

![matrix_code_rain_gif](../static/matrix_code_rain.gif)

In our context, a matrix looks more like this:

$ \begin{equation*}
M = 
\begin{bmatrix}
1 & 5 & 2 & 99 \\
0 & -3.4 & 21 & 0.01
\end{bmatrix}
\end{equation*}$

Matrices are tables, (usually) filled with numbers, arranging them into rows and columns. The matrix denoted $M$ above has two rows and three columns, and we'd say this is a "two by three" matrix, noting the number of rows first, then the number of columns second. Matrices can have any number of rows and columns. 

$\begin{equation*}
A_{m,n} = 
\begin{bmatrix}
a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
\vdots  & \vdots  & \ddots & \vdots  \\
a_{m,1} & a_{m,2} & \cdots & a_{m,n} 
\end{bmatrix}
\end{equation*}$

Collectively, the number of rows and columns of a matrix are called the **dimensions** of the matrix.

Matrices are super useful for many reasons. For our use, here's two that are important:
1. They provide a nice way to keep a bunch of numbers that are related (like the weights and biases of a neural network, more on that soon) in one nice tidy bundle.
2. We can use them to add and multiply lots of numbers quickly using what we call **matrix multiplication**.

For now, we don't need to worry about the details, a general understanding of the concept is fine. We could create the matrix $M$ written above in `R` as follows:

In [7]:
M = matrix(c(1, 5, 2, 99, 0, -3.4, 21, 0.01), nrow = 2)
M

     [,1] [,2] [,3] [,4]
[1,] 1     2    0.0 21.00
[2,] 5    99   -3.4  0.01

That is, we pop all the numbers we want in our matrix into a vector, specify the number of rows we want using `nrow = ...` and then wrap it all up writing `matrix(...)` around the outside. Just like with lists and vectors, we can use square brackets to access elements in a matrix.

In [8]:
# Get the number in the first row, third column
M[1, 3]

[1] 0

In [9]:
# Get the first row
M[1, ]

[1]  1  2  0 21

In [10]:
# Get the fourth column
M[, 4]

[1] 21.00  0.01

### <font color='#F89536'> **Your turn!** </font>

1. What does the code below do?

In [37]:
M[1:2, 2:3]

     [,1] [,2]
[1,]  2    0.0
[2,] 99   -3.4

2. What does the code below do?

In [39]:
t(M)

     [,1] [,2]
[1,]  1    5.00
[2,]  2   99.00
[3,]  0   -3.40
[4,] 21    0.01

3. Create a 3 by 3 matrix containing any numbers you like.

In [33]:
# Write your code here

## Loops üîÅ
One of the best things about getting computers to do our work is that they can repeat the same task over and over again incredibly quickly and accurately. When we want to run the same set of instructions again and again, we can use loops. 

For example, suppose we wanted to add up all the numbers from one to twenty. We could type this in manually, but it would be slow and tedious. Instead, we can use a loop, to iteratively add each number to the previous total sum.

Loops in `R` look like this:

In [33]:
current_sum = 0

for(i in 1:20) {
    current_sum = current_sum + i
}

current_sum

[1] 210

In this loop, we start by setting `i = 1`. Then, all the code in the squiggly brackets is run (we add `i` to the current sum, which starts at 0 as we haven't counted anything yet). Once all that code has run, the for loop jumps back to the top, `i` becomes the next value in our vector (which is `2`, remember what `1:20` is short for), and we repeat the process all the way up until `i = 20`. When the code for `i = 20` has been run, the loop stops, as all `i` values between `1` and `20` have now been run!

We won't use for loops much, but we'll use one to help us train our neural network.

## Functions üìà
Woo! Nice work on making it this far. The last concept we need to cover is that of **functions**. Functions (usually) take inputs, and based on those input, return an output. They're super useful if you want to run the same block of code in multiple different places.

We've already come across a few different functions that come built into R. `cat()` and `print()` are two common functions used to print the outputs of some code. `matrix()` is also a function. It takes in the numbers you want in the matrix, and the number of rows you want the matrix to have, and outputs such a matrix.

Some other useful functions we will use include:
- `rnorm()`, which can generate random samples from a normal distribution.
- `round()`, which can round a number to a specified number of decimal places.
- `length()`, which can get the length of a vector or list.
- `exp()`, which gives the [exponential function](https://en.wikipedia.org/wiki/Exponential_function), $e^x$.

In [4]:
rand = rnorm(5)
rand
round(rand, 3)
length(c(5,4,1))

[1] -0.7101074 -0.2013748  0.9319010  1.2145130  0.7169010

[1] -0.710 -0.201  0.932  1.215  0.717

[1] 3

Notice that the name a function is usually a pretty good indicator of what the function does, so if you come across a function you haven't seen before, you can often guess what it does. This isn't always the case though; if you get stuck or aren't sure searching up 'function name R' online is always a good start.

But what if you want to use a function that isn't included in R? There are two main solutions: **defining functions** and **loading functions**.

### Defining functions

If you can't find a function that does what you want, you can create your own function! For example, if I wanted to take the square root of a number, I could use R's inbuilt `sqrt()` function.

In [5]:
sqrt(9)

[1] 3

But perhaps we want something a little different, maybe we want to know what three times the square root of some number, plus 4, divided by some other number is, rounded to the nearest whole number. There isn't an inbuilt function to do this, so we can create our own as follows.

In [22]:
silly_sqrt = function(number_1, number_2) {
    silly_root = (3 * sqrt(number_1) + 4) / number_2 
    silly_root_rounded = round(silly_root)
    return(silly_root_rounded)
}

We can then use this function, just like one that comes with R!

In [23]:
silly_sqrt(1, 2)

[1] 4

The first line above creates a function called `silly_sqrt` that takes in two numbers. The function, like a loop, then executes all the code inside the squiggly brackets when called. Finally, to specify what output we want to function to have, we wrap it up using `return()`.

### Loading functions

Luckily, R has many amazing and super smart users that write functions and release them for use by the wider community so that we don't have to. Often, these functions come in bundles called **packages**. You can find thousands upon thousands of packages online.

To use the functions in a package, we have to install the package and then load it in, as so.

In [13]:
# Install the package on our computer
# (We comment it out here, because we already have the package installed)
# install.packages("ggplot2")

# Load the package into the current session
library("ggplot2")

### <font color='#F89536'> **Your turn!** </font>

1. Using some of the functions described above, create a 100 by 100 matrix full of random digits.

In [40]:
# Write your code here

2. Define a function that, given the radius, calulates the volume of a sphere ($V = \frac{4}{3} \pi r^3$).

In [40]:
# Write your code here

## Summary ü•≥
If you haven't coded much before, that might be a bit to take in. Don't stress, you can always come back to this page and use it as a reference if needed. To summarise, we learned how to use R to:
- Do basic arithmetic
- Store variables and create different types of data
- Work with lists and matrices
- Use loops
- Write and use functions

---
## ‚Ü™Ô∏è Next up: [Part 3 üîé - Revising the basics of neural networks](./3_Revising_NNs.ipynb)